html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: "ZillaSlab-Light", "Arvo","Fira Sans", "Helvetica Neue", "Arial", sans-serif;
  background: #cb75ce;
}

*, *:before, *:after {
  box-sizing: inherit;
}

@font-face {
  font-family: "ZillaSlab-Light";
  src: url(./ZillaSlab-Light.woff);
}

@font-face {
  font-family: "ZillaSlab-SemiBold";
  src: url(./ZillaSlab-SemiBold.woff);
}

p {
  font-size: 2.25rem;
  line-height: 2.625rem;
}

.header-container {
  position: fixed;
  background: #cb75ce;
  width: 100%;
}

.input {
  border: 0;
  font-size: 5rem;
  font-family: "ZillaSlab-Light", "Arvo","Fira Sans", "Helvetica Neue", "Arial", sans-serif;
  color: #fff;
  background-color: #cb75ce;
  padding: 1.25rem;
}

input:focus::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

h1, .output-container div {
  font-size: 5rem;
  color: #cb75ce;
  padding: 0.3125rem 0.625rem 0.9375rem;
  display: inline-block;
}

.output-container {
  position: absolute;
  top: 240px;
  z-index: -1;
}

.output-container div {
  clear: both;
  float: left;
}

h1 {
  background: #fff;
  white-space: nowrap;
}

.output-container div:nth-last-child(4n+1) {
  background: #FFF587;
}

.output-container div:nth-last-child(4n+2) {
  background: #D4EB88;
}

.output-container div:nth-last-child(4n+3) {
  background: #FFDA85;
}

.output-container div:nth-last-child(4n+4) {
  background: #C2E8F9;
}

div.thankyou {
  background: #000;
  color: #fff;
  position: fixed;
  bottom: -300px;
  width: 100%;
  text-align: center;
  transition: bottom 1s ease;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.thankyou p {
  width: 65%;
}

div.thankyou.show {
  bottom: 0;
}

div.thankyou a {
  font-family: "ZillaSlab-SemiBold", "Arvo","Fira Sans", "Helvetica Neue", "Arial", sans-serif;
  color: #fff;
}

div.thankyou a:hover {
  background: #fff;
  color: #000;
  text-decoration: none;
}

.close {
  padding: .5rem;
  position: absolute;
  top: 1.375rem;
  right: 1.375rem;
  cursor: pointer;
}

.logo {
  height: 2.4rem;
  margin-bottom: -.5rem;
}

.heart {
  width: 3.5%;
}

.waiting span {
  display: inline-block;
  animation: snake 1s infinite ease-in-out;
}

.waiting span:nth-child(1) {
  animation-delay: 0.2s;
}

.waiting span:nth-child(2) {
  animation-delay: 0.4s;
}

.waiting span:nth-child(3) {
  animation-delay: 0.6s;
}

@keyframes snake {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(-4px);
  }
  50% {
    transform: translateY(0px);
  }
}

@media screen and (max-width: 600px) {
  html {
    font-size: 6px;
  }
  p {
    font-size: 4.25rem;
    line-height: 4.8rem;
  }
  .output-container {
    top: 90px;
  }
  div.thankyou p {
    width: 85%;
  }
  .logo {
    height: 4.6rem;
    margin-bottom: -.9rem;
  }
  .heart {
    width: 6%;
  }
}
