
body {
  background: purple;
  font-family: "Zilla-Light", "Arvo","Fira Sans", "Helvetica Neue", "Arial", sans-serif;
}

h1 {
  font-size: 5rem;
  color: #000;
  background-color: yellow;
  padding: 5px 15px 15px;
  display: inline-block;
}

#input-1 {
  border: 0;
  font-size: 5rem;
  font-family: "Zilla-Light", "Arvo","Fira Sans", "Helvetica Neue", "Arial", sans-serif;
  color: #fff;
  background-color: purple;
  padding: 20px;
}
